.app {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
  font-size: 70px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 50px;
}
.menu-bar {
  text-align: center; 
}
.search-bar {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}
.input-group-append {
  margin-top: 20px;
  justify-content: center;
}

h3 {
  margin-bottom: 50px;
}

.result-list {
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
}

.list-group-item {
  border-color: black;
}
.form-control{
  text-align: center;
  height: 50px;
  border-color: black;
}

.divider{ 
  width:10px;
  height:auto;
  display:inline-block;
}

.btn-menu {
  text-align: center;
  width: 250px;
  height: 70px;  
  border-color: black;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 25px;
  font-size: 20px;
}

